<h1>Editing an Item</h1>

<%= render 'form' %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %> |
<%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
